/*img{
	height: 30%;
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	color: black;
	font-weight: 800;
	font-size: 30px;
	margin-left: 1.66%;
	padding-bottom: 3px;
	border-bottom: 2px #f1f1f1 solid;
	width: 30%; 
}*/

*{
	padding: 0;
	margin: 0;
}
main{
	font-size: 0;
}

main img{
	margin: 1.66%;
    height: 30%;
    width: 30%;
}

header p{
     color: black;
	font-weight: 800;
	font-size: 30px;
	margin-left: 1.66%;
	padding-bottom: 3px;
	border-bottom: 2px #f1f1f1 solid;
	width: 30%; 
}